<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pinus.pakis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".BaseApplication"
        android:icon="@drawable/logo_peka"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_peka"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pakis">
        <activity android:name=".ui.result.ResultActivity"></activity>
        <activity android:name=".ui.aboutus.AboutUsActivity" />
        <activity android:name=".ui.auth.SetNameActivity" />
        <activity android:name=".ui.questions.QuestionActivity" />
        <activity
            android:name=".ui.profile_account.ProfileAccountActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.pakis.pinus.core.ui.webview.WebviewActivity" />
        <activity
            android:name=".ui.introductory.IntroductoryActivity"
            android:noHistory="true" />
        <activity android:name=".ui.gopremium.GoPremiumActivity" />
        <activity android:name=".ui.auth.SignupSigninActivity" />
        <activity
            android:name=".ui.account.Account"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.auth.SignupActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.Pakis.NoActionBar" />
        <activity android:name=".ui.auth.SigninActivity" />
        <receiver
            android:name="com.pakis.pinus.core.utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>